body {margin:0px;
padding:0px;
font-family: 'Open Sans';
font-size:12px;
background:#eef3f7;
overflow-x:hidden;}
.header {width:100%; padding:10px 0;}
.header .logo img {width:150px;}
.navigation ul {margin:0px;
 padding:0px; 
 display:flex;
 justify-content: end;}
 .navigation{padding: 15px 0px 0px 0px;}
.navigation ul li {list-style:none; margin-left:20px;}
.navigation ul li a {text-decoration:none;color:#000;} 
.banner {width:100%;background: rgb(255,171,41);
background: linear-gradient(190deg, rgba(255,171,41,1) 0%, rgba(255,239,215,1) 100%);}
.banner-content {    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;}
.banner .banner-images img {width:100%;}
.banner-content h3 {font-weight:bold;}
.banner-content .banner-content-in {padding: 30px;
    background-color: #ffffff40;
    border: solid 1px #fff;
    border-radius: 7px;
	}
	.services-section {width:100%; padding:30px 0;}
	.services-section .service {width: 150px;
    height: 150px;
    background: #ee3573;
    margin: auto;
    border-radius: 180px ;}